alabaster==0.7.11
anvil==0.0.2
anvil-build==0.0.1.dev0
argh==0.26.2
asn1crypto==0.24.0
attrs==18.1.0
autobahn==18.6.1
automat==0.7.0
babel==2.6.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
beautifulsoup4==4.6.0
bleach==2.1.3
blessings==1.7
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
configparser==3.5.0
constantly==15.1.0
cryptography==2.2.2
cssselect==1.0.3
decorator==4.3.0
Django==1.11.14
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
Flask==1.0.2
Flask-WTF==0.14.2
functools32==3.2.3.post2
futures==3.2.0
geographiclib==1.49
geojson==2.4.0
geopy==1.14.0
get==1.0.3
glob2==0.6
gmaps==0.8.0
google==2.0.1
google-search==1.0.2
html5lib==1.0.1
hyperlink==18.0.0
idna==2.7
imagesize==1.0.0
imutils==0.4.6
incremental==17.5.0
ipaddress==1.0.22
ipykernel==4.8.2
ipython==5.7.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
itsdangerous==0.24
jdcal==1.4
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
Kivy==1.10.0
Kivy-Garden==0.1.4
kivy.deps.angle==0.1.6
kivy.deps.glew==0.1.9
kivy.deps.gstreamer==0.1.12
kivy.deps.sdl2==0.1.17
lxml==4.2.1
MarkupSafe==1.0
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
networkx==1.7
notebook==5.5.0
numpy==1.14.5
opcua==0.95.3
openpyxl==2.5.4
packaging==17.1
paho-mqtt==1.3.1
pandas==0.23.3
pandocfilters==1.4.2
parsel==1.5.0
pathlib2==2.3.2
pathtools==0.1.2
pickleshare==0.7.4
Pillow==5.1.0
populartimes==2.0
post==1.0.2
prompt-toolkit==1.0.15
public==1.0.3
pyasn1==0.4.4
pyasn1-modules==0.2.2
PyAutoGUI==0.9.36
pycparser==2.18
PyDispatcher==2.0.5
Pygments==2.2.0
PyMsgBox==1.0.6
pyOpenSSL==18.0.0
pyparsing==2.2.0
pypiwin32==223
PyScreeze==0.1.14
python-dateutil==2.7.3
python-firebase==1.2
python-gflags==3.1.2
PyTweening==1.0.3
pytz==2018.4
pywin32==223
pywinpty==0.5.4
PyYAML==3.12
pyzmq==17.0.0
query-string==1.0.2
queuelib==1.5.0
remi==1.1
request==1.0.2
requests==2.19.0
scandir==1.7
Scrapy==1.5.1
selenium==3.13.0
Send2Trash==1.5.0
service-identity==17.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
sphinx==1.7.5
sphinxcontrib-websupport==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.0.2
traitlets==4.3.2
trollius==2.2
twisted==19.7.0
txaio==2.10.0
typing==3.6.4
urllib3==1.23
w3lib==1.19.0
watchdog==0.8.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.1
win-unicode-console==0.5
WTForms==2.2.1
xlrd==1.1.0
zope.interface==4.5.0
